---
import PostLayout from "@layouts/PostLayout.astro";
import Pills from "@components/astro/Pills.astro";
import HeadTag from "@components/astro/HeadTag.astro";

import { getPostUrl } from "@lib/scripts/resolve-url";
import type { Post } from "@lib/types/Post";

export async function getStaticPaths() {
	const posts: Post[] = await Astro.glob("../../../content/posts/*.mdx");
	return posts.map(p => ({
		params: { id: getPostUrl(p, { onlyEnds: true }) },
		props: { post: p },
	}));
}

const post: Post = Astro.props.post;
---

<PostLayout postInfo={post.frontmatter}>
	<div>
		<Pills list={post.frontmatter.tags} />
		<HeadTag item={post} />
	</div>
	<main class="md"><post.Content /></main>
</PostLayout>

<style lang="scss">
	@use "src/lib/styles-addn/vars" as v;
	@use "src/lib/styles-addn/func" as f;

	main,
	div {
		box-sizing: border-box;
		width: 100%;
		max-width: 80ch;
		padding: 1rem;
	}

	@include f.mq(sm) {
		main,
		div {
			padding: 2rem;
		}
	}

	div {
		padding-bottom: 0;
		@include f.flex(column);
	}
	main {
		padding-top: 0;
		font-family: v.$sans-serif;
	}
</style>
