---
import { getPostUrl } from "@lib/scripts/get-post-url";

import type { Post } from "@lib/types/Post";
interface Props {
	item: Post;
}

const { item } = Astro.props;
---

<article>
	<a href={getPostUrl(item)}>
		<img
			src={item.frontmatter.cover.url}
			alt={item.frontmatter.cover.alt}
		/>
	</a>
</article>
