---
import SearchBar from "@components/svelte/SearchBar.svelte";
import { blogDetails } from "@config";
---

<header>
	<a href={Astro.url.host}>
		<img src="/favicon.gif" alt="logo" width="64" height="64" />
		<span>{blogDetails.name}</span>
	</a>
	<SearchBar client:idle />
</header>

<style lang="scss">
	@use "src/lib/styles-addn/func" as f;
	@use "src/lib/styles-addn/vars" as v;

	header {
		box-sizing: border-box;
		position: relative;
		width: calc(100% - 4rem);

		margin: 2rem 2rem 0 2rem;
		padding: 0.5rem;
		border: 1px var(--elementary) solid;
		border-radius: 0.5rem;

		@include f.flex(row, space-around, center, wrap);
		background-color: var(--background-lite);

		@include f.deferred-bg();

		& > a {
			@include f.flex($alg-it: center, $gap: 1rem);
			padding: 0.1rem 0.4rem;
			margin: 0 1rem;

			font-family: v.$titan;
			font-size: 1.75rem;
			color: var(--elementary);
			text-decoration: none;

			&:focus {
				outline: 0.2rem var(--elementary) solid;
			}

			& > img {
				@include f.box(4rem);
			}
		}
	}

	@include f.mq(sm, max) {
		header {
			width: calc(100% - 2rem);
			margin: 2rem 1rem 0 1rem;

			& > a {
				font-size: 1.25rem;

				& > img {
					@include f.box(2.5rem);
				}
			}
		}
	}
</style>
