---
import SearchBar from "@components/svelte/SearchBar.svelte";
import { blogDetails } from "@config";
---

<header>
	<a href={Astro.url.host}>
		<img src="./favicon.gif" alt="logo" width="64" height="64" />
		<span>{blogDetails.name}</span>
	</a>
	<SearchBar client:idle />
</header>

<style lang="scss">
	header {
		position: relative;
		margin: 1rem 2rem 0 2rem;
		padding: 0.5rem;
		border: 1px var(--elementary) solid;
		border-radius: 0.5rem;
		width: calc(100% - 4rem);

		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		background-color: var(--background-lite);

		&::after {
			content: "";
			position: absolute;
			left: 0.25rem;
			top: 0.25rem;
			z-index: -1;

			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			background-color: var(--elementary);
		}

		& > a {
			display: flex;
			gap: 1rem;
			align-items: center;
			padding: 0.1rem 0.4rem;
			margin: 0 1rem;

			font-family: "Titan";
			font-size: 1.75rem;
			color: var(--elementary);
			text-decoration: none;

			&:focus {
				outline: 0.2rem var(--elementary) solid;
			}

			& > img {
				width: 4rem;
				height: 4rem;
			}
		}
	}

	@media (max-width: 365px) {
		header {
			& > a {
				font-size: 1.25rem;
				margin: 0 1rem;

				& > img {
					width: 2.5rem;
					height: 2.5rem;
				}
			}
		}
	}
</style>
