---
import Layout from "@layouts/Layout.astro";
import SEO from "@components/astro/SEO.astro";
import Header from "@components/astro/Header.astro";
import IntroBanner from "@components/astro/IntroBanner.astro";
import Card from "@components/astro/Card.astro";
import Button from "@components/svelte/Button.svelte";
import Footer from "@components/astro/Footer.astro";

import type { Post } from "@lib/types/Post";

const allPosts: Post[] = await Astro.glob("../../content/posts/*.mdx");
const posts = allPosts
	.sort((p, n) => p.frontmatter.published - n.frontmatter.published)
	.slice(0, 5);
---

<Layout title="test">
	<SEO slot="SEO" />
	<Header />
	<IntroBanner />
	<main>
		<nav>
			<h4>Latest Articles -</h4>
			<Button aria-label="show all latest articles">Show All</Button>
		</nav>
		<ol>
			{posts.map(v => <Card item={v} />)}
		</ol>
	</main>
	<Footer />
</Layout>

<style lang="scss">
	@use "src/lib/util/func" as f;
	@use "src/lib/util/vars" as v;

	main {
		@include f.flex(column);
		box-sizing: border-box;
		width: 100%;
		padding: 0 2rem;
	}

	ol {
		@include f.flex($wrp: wrap);
		margin: 0 0 1rem 0;
		padding: 0;
	}

	@include f.mq(xl) {
		main {
			width: 1300px;
		}
	}

	nav {
		position: relative;
		@include f.flex(row, space-between);
		margin: 3rem 0 0 0;
		padding: 0;
		width: calc(100% - 5rem);

		h4 {
			margin: 0;
			font-family: v.$mono;
			font-size: v.$font-0;
			font-weight: 800;
		}
	}

	@include f.mq(lg) {
		nav {
			margin: 3rem 1.25rem 0 1.25rem;
			width: calc(99% - 7.5rem);
		}
	}
</style>
