---
import Layout from "@layouts/Layout.astro";
import SEO from "@components/astro/SEO.astro";
import Header from "@components/astro/Header/index.astro";
import IntroBanner from "@components/astro/IntroBanner/index.astro";
import Card from "@components/astro/Card/index.astro";
import Button from "@components/svelte/Button/index.svelte";
import Footer from "@components/astro/Footer/index.astro";

import type { Post } from "@lib/types/Post";

const allPosts: Post[] = await Astro.glob("../../content/posts/*.mdx");
const posts = allPosts
	.sort((p, n) => p.frontmatter.published - n.frontmatter.published)
	.slice(0, 5);
---

<Layout title="test">
	<SEO slot="SEO" />
	<Header />
	<IntroBanner />
	<main>
		<nav>
			<h4>Latest&nbsp;-</h4>
			<Button aria-label="show all latest articles">More</Button>
		</nav>
		<ol>
			{posts.map(v => <Card item={v} />)}
		</ol>
	</main>
	<Footer />
</Layout>

<style lang="sass">
	@use "src/lib/util/func" as f
	@use "src/lib/util/vars" as v

	main
		+f.flex(column)
		width: 100%
		padding: 2rem 2rem 0 2rem

		+f.mq(xl)
			width: 1300px

	ol
		+f.flex($wrp: wrap)
		margin: 0 0 1rem 0
		padding: 0

	nav
		position: relative
		+f.flex($jc: space-between, $g: 1rem)
		width: calc(100% - 3rem)

		h4
			margin: 0
			text-align: center
			font-family: v.$mono
			font-weight: 800

		+f.mq(lg)
			margin: 3rem 1.25rem 0 1.25rem
			width: calc(99% - 7.5rem)
</style>
