---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Accept-CH" content="DPR, Width" />
		<link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.gif" />
		<slot name="SEO" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style lang="scss">
			/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

			html,
			body,
			div,
			span,
			applet,
			object,
			iframe,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			blockquote,
			pre,
			a,
			abbr,
			acronym,
			address,
			big,
			cite,
			code,
			del,
			dfn,
			em,
			img,
			ins,
			kbd,
			q,
			s,
			samp,
			small,
			strike,
			strong,
			sub,
			sup,
			tt,
			var,
			b,
			u,
			i,
			center,
			dl,
			dt,
			dd,
			ol,
			ul,
			li,
			fieldset,
			form,
			label,
			legend,
			table,
			caption,
			tbody,
			tfoot,
			thead,
			tr,
			th,
			td,
			article,
			aside,
			canvas,
			details,
			embed,
			figure,
			figcaption,
			footer,
			header,
			hgroup,
			menu,
			nav,
			output,
			ruby,
			section,
			summary,
			time,
			mark,
			audio,
			video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article,
			aside,
			details,
			figcaption,
			figure,
			footer,
			header,
			hgroup,
			menu,
			nav,
			section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol,
			ul {
				list-style: none;
			}
			blockquote,
			q {
				quotes: none;
			}
			blockquote:before,
			blockquote:after,
			q:before,
			q:after {
				content: "";
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			}
		</style>
		<style lang="scss">
			:root {
				--elementary: #000000;
				--elementary-lite: rgba(0, 0, 0, 0.4);
				--anti-elementary: #ffffff;
				--foreground: #2ecf75;
				--background: #d8e4dc;
				--background-lite: #e9f5ed;
				--primary: #00263a;
				--secondary: #375ca9;

				--sans-serif: -apple-system, BlinkMacSystemFont, avenir next,
					avenir, segoe ui, helvetica neue, helvetica, Cantarell,
					Ubuntu, roboto, noto, arial, sans-serif;
				--serif: Iowan Old Style, Apple Garamond, Baskerville,
					Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
					Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
			}

			html.dark {
				--elementary: #ffffff;
				--elementary-lite: rgba(256, 256, 256, 0.4);
				--anti-elementary: #000000;
				--foreground: #583599;
				--background: #150a33;
				--background-lite: #27184d;
				--primary: #1f6feb;
				--secondary: #5b92f8;
			}

			html.justify * {
				text-align: justify;
			}

			@font-face {
				font-family: Titan;
				src: url("./TitanOne-Regular.ttf") format("truetype");
			}

			body {
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: var(--background);
			}
		</style>
	</body>
</html>
